<a href="https://colab.research.google.com/github/Felab-2020/python-analysis/blob/master/Moringa_Data_Science_Prep_6_Independent_Project_2019_07_Felab_Elsie_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries to be used

In [ ]:
# Let's import the pandas library
#
import pandas as pd
import numpy as np

# Loading datasets

1. cells_geo_description

In [ ]:
# Cells_geo_description.xlsx [Link]

cgd = pd.read_excel("cells_geo_description.xlsx")
print (cgd)

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

2. cells_geo

In [ ]:
cg = pd.read_csv("/content/cells_geo.csv", delimiter = ";")
print (cg)

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

3. CDR_description

In [ ]:
# CDR_description.xlsx [Link]
cdr = pd.read_excel("CDR_description.xlsx")
print (cdr)

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

4. Telcom_dataset1

In [ ]:
cols_name=['PRODUCT'  ,'VALUE'  ,'DATE_TIME','DW_A_NUMBER','DW_B_NUMBER','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
database1=pd.read_csv('Telcom_dataset.csv',header=0,names=cols_name)
database1

       PRODUCT                  VALUE  ...     CELL_ID     SITE_ID
Voice        0  2012-05-06 23:04:37.0  ...  /TJNe+Mmtu  /TJNe+Mmtu
sms          0  2012-05-06 23:05:25.0  ...  /+cKZKIp41  /+cKZKIp41
sms         25  2012-05-06 23:05:41.0  ...  /u0FSD+ahi  /u0FSD+ahi
Voice       56  2012-05-06 23:05:42.0  ...  +cNeJzsTp3  +cNeJzsTp3
Voice       14  2012-05-06 23:06:29.0  ...  051KhYDCpv  051KhYDCpv
...        ...                    ...  ...         ...         ...
sms        100  2012-05-07 00:01:54.0  ...  0c2371d9bc  1e751d08a4
Voice        1  2012-05-07 00:01:54.0  ...  5fb791cf56  65efe2bc62
Voice        0  2012-05-07 00:01:54.0  ...  7773627c12  9ef9616350
Voice        0  2012-05-07 00:01:54.0  ...  3f4af49d6c  969b8d0e39
Voice        7  2012-05-07 00:01:54.0  ...  6f4d9b77a5  ebfc58af70

[5001 rows x 9 columns]

5. Telcom_dataset2

In [ ]:
cols_name=['PRODUCT'  ,'VALUE'  ,'DATE_TIME','DW_A_NUMBER','DW_B_NUMBER','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
database2=pd.read_csv('Telcom_dataset2.csv',header=0,names=cols_name)
database2

       PRODUCT                  VALUE  ...     CELL_ID     SITE_ID
sms          0  2012-05-07 23:02:06.0  ...  +854AcBQT2  +854AcBQT2
Voice        0  2012-05-07 23:03:44.0  ...  +854AcBQT2  +854AcBQT2
sms          0  2012-05-07 23:04:06.0  ...  +laSrk7g6q  +laSrk7g6q
Voice       37  2012-05-07 23:04:48.0  ...  /xvRrCVKoQ  /xvRrCVKoQ
sms         25  2012-05-07 23:04:58.0  ...  +bO+qkSonO  +bO+qkSonO
...        ...                    ...  ...         ...         ...
sms          0  2012-05-08 00:01:53.0  ...  896459aace  b7d00e59e4
sms         25  2012-05-08 00:01:53.0  ...  7e90b35166  211015b14d
sms          0  2012-05-08 00:01:53.0  ...  fe70e431df  c7ea989264
data         0  2012-05-08 00:01:53.0  ...  ffa6759bb2         NaN
Voice        0  2012-05-08 00:01:53.0  ...  8630058aca  b47a998a3e

[5001 rows x 9 columns]

6. Telcom_dataset3

In [ ]:
cols_name=['PRODUCT'  ,'VALUE'  ,'DATE_TIME','DW_A_NUMBER','DW_B_NUMBER','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
database3=pd.read_csv('Telcom_dataset3.csv',header=0,names=cols_name)
database3

       PRODUCT                  VALUE  ...     CELL_ID     SITE_ID
Voice       61  2012-05-08 23:01:28.0  ...  +38u2u/rfx  +38u2u/rfx
sms          0  2012-05-08 23:01:31.0  ...  +Fs4mTvdKx  +Fs4mTvdKx
Voice       10  2012-05-08 23:02:59.0  ...  +ZaaZozy/+  +ZaaZozy/+
sms          0  2012-05-08 23:03:04.0  ...  +cNeJzsTp3  +cNeJzsTp3
Voice       22  2012-05-08 23:03:16.0  ...  /eeMklgyJA  /eeMklgyJA
...        ...                    ...  ...         ...         ...
Voice        0  2012-05-09 00:01:43.0  ...  2aa04dcab7  f7d63a29e5
Voice       62  2012-05-09 00:01:43.0  ...  7f1f2f889f  b4ddb9e93c
Voice       32  2012-05-09 00:01:43.0  ...  a4731e780e  d68260ef50
Voice       30  2012-05-09 00:01:43.0  ...  98ed726da2  b4130b54ab
Voice       60  2012-05-09 00:01:43.0  ...  1c11a2fcbb  6d70dae094

[5001 rows x 9 columns]

# Analysing the data

Concatenating dataframes

In [ ]:
Telcom=pd.concat([database1,database2,database3])
print (Telcom)

       PRODUCT                  VALUE  ...     CELL_ID     SITE_ID
Voice        0  2012-05-06 23:04:37.0  ...  /TJNe+Mmtu  /TJNe+Mmtu
sms          0  2012-05-06 23:05:25.0  ...  /+cKZKIp41  /+cKZKIp41
sms         25  2012-05-06 23:05:41.0  ...  /u0FSD+ahi  /u0FSD+ahi
Voice       56  2012-05-06 23:05:42.0  ...  +cNeJzsTp3  +cNeJzsTp3
Voice       14  2012-05-06 23:06:29.0  ...  051KhYDCpv  051KhYDCpv
...        ...                    ...  ...         ...         ...
Voice        0  2012-05-09 00:01:43.0  ...  2aa04dcab7  f7d63a29e5
Voice       62  2012-05-09 00:01:43.0  ...  7f1f2f889f  b4ddb9e93c
Voice       32  2012-05-09 00:01:43.0  ...  a4731e780e  d68260ef50
Voice       30  2012-05-09 00:01:43.0  ...  98ed726da2  b4130b54ab
Voice       60  2012-05-09 00:01:43.0  ...  1c11a2fcbb  6d70dae094

[15003 rows x 9 columns]

Merging

In [ ]:
Telcomm= Telcom.merge(cg, left_on="SITE_ID", right_on ="SITE_CODE")
Telcomm

       PRODUCT                  VALUE  ...   CELL_ID_y   SITE_CODE
0            0  2012-05-07 00:00:00.0  ...  24ccdda3d5  1b5540c02d
1            0  2012-05-07 00:00:00.0  ...  ebfc58af70  1b5540c02d
2            0  2012-05-07 00:00:00.0  ...  ba8ce6e4ef  1b5540c02d
3            0  2012-05-07 00:00:00.0  ...  c2545171dc  1b5540c02d
4            0  2012-05-07 00:00:00.0  ...  f15bd5483f  1b5540c02d
...        ...                    ...  ...         ...         ...
51356       17  2012-05-09 00:01:42.0  ...  c179f33d5e  cc45940406
51357       17  2012-05-09 00:01:42.0  ...  0a3f751619  cc45940406
51358        0  2012-05-09 00:01:43.0  ...  0427a26d34  ab91f5b21d
51359        0  2012-05-09 00:01:43.0  ...  7c72293cf2  ab91f5b21d
51360        0  2012-05-09 00:01:43.0  ...  be18b5b981  ab91f5b21d

[51361 rows x 21 columns]

City with highest calls and sms

In [ ]:
Telcomm[['PRODUCT', 'DATE_TIME', 'VALUE', 'VILLES', 'STATUS']]
Telcomm.sort_values(by=['PRODUCT'], inplace=True, ascending=False)
Telcomm

       PRODUCT                  VALUE  ...   CELL_ID_y   SITE_CODE
45595     6750  2012-05-09 00:00:23.0  ...  21de9f8833  a64fc672f1
45594     6750  2012-05-09 00:00:23.0  ...  78513e000d  a64fc672f1
45592     6750  2012-05-09 00:00:23.0  ...  1ec42c36a0  a64fc672f1
45593     6750  2012-05-09 00:00:23.0  ...  78513e000d  a64fc672f1
45591     6750  2012-05-09 00:00:23.0  ...  e979887400  a64fc672f1
...        ...                    ...  ...         ...         ...
38180        0  2012-05-09 00:00:10.0  ...  93611cc980  e82c07d996
22920        0  2012-05-07 00:01:10.0  ...  6f0ac8ecf7  4dac8c0c56
22921        0  2012-05-07 00:01:10.0  ...  abe94996d9  4dac8c0c56
39035        0  2012-05-08 00:00:51.0  ...  a902c9a91a  1113359465
22553        0  2012-05-07 00:01:11.0  ...  99eec3899f  d1809b909f

[51361 rows x 21 columns]

Most used hours

In [ ]:

Telcomm[['PRODUCT', 'DATE_TIME', 'VALUE', 'VILLES', 'STATUS']]
Telcomm.sort_values(by=['DATE_TIME'], inplace=True, ascending=False)
Telcomm

       PRODUCT                  VALUE  ...   CELL_ID_y   SITE_CODE
45595     6750  2012-05-09 00:00:23.0  ...  21de9f8833  a64fc672f1
45592     6750  2012-05-09 00:00:23.0  ...  1ec42c36a0  a64fc672f1
45591     6750  2012-05-09 00:00:23.0  ...  e979887400  a64fc672f1
45594     6750  2012-05-09 00:00:23.0  ...  78513e000d  a64fc672f1
45593     6750  2012-05-09 00:00:23.0  ...  78513e000d  a64fc672f1
...        ...                    ...  ...         ...         ...
11571        0  2012-05-07 00:01:01.0  ...  e1986b610d  ba8ce6e4ef
36209        0  2012-05-09 00:00:25.0  ...  2c7107f661  c9d8e4cdf1
11552        0  2012-05-07 00:00:14.0  ...  709620b604  ba8ce6e4ef
12026        0  2012-05-09 00:00:41.0  ...  11431b9888  ead9f3d03f
51360        0  2012-05-09 00:01:43.0  ...  be18b5b981  ab91f5b21d

[51361 rows x 21 columns]

       PRODUCT                  VALUE  ...   CELL_ID_y   SITE_CODE
50234        0  2012-05-08 00:01:53.0  ...  e7f66a17af  b7d00e59e4
50233        0  2012-05-08 00:01:53.0  ...  5aa9876374  b7d00e59e4
50232        0  2012-05-08 00:01:53.0  ...  f11264a25f  b7d00e59e4
36346       80  2012-05-09 00:01:26.0  ...  804e60019a  06623c2f1f
36345       80  2012-05-09 00:01:26.0  ...  16205e9f52  06623c2f1f
...        ...                    ...  ...         ...         ...
19068        0  2012-05-07 00:00:07.0  ...  a97cf2cba0  70a989da87
19061        0  2012-05-09 00:01:09.0  ...  48b7932a30  c6bd18d180
19060        0  2012-05-09 00:01:09.0  ...  1989921eb1  c6bd18d180
19059        0  2012-05-09 00:01:09.0  ...  334fdb9912  c6bd18d180
22553        0  2012-05-07 00:01:11.0  ...  99eec3899f  d1809b909f

[51361 rows x 21 columns]